@if (dataset$ | async; as datasets) {
	@if (datasets && datasets.length > 0) {
		@if (view === "tile") {
			<index-cards [datasets$]="dataset$"></index-cards>
		} @else {
			<index-list [datasets$]="dataset$"></index-list>
		}

		<hr/>

		@if (view === "tile") {
			<div class="paginator-container">
				<mat-paginator
					pageSize="6"
					(page)="onPageChange($event)"
					aria-label="Select page"
					[length]="(datasetService.filteredLength$ | async)"
					[pageSizeOptions]="[6, 9, 18, 36]"
				/>
			</div>
		} @else {
			<div class="paginator-container">
				<mat-paginator
					pageSize="10"
					(page)="onPageChange($event)"
					aria-label="Select page"
					[length]="(datasetService.filteredLength$ | async)"
					[pageSizeOptions]="[10, 25, 100, 200]"
				/>
			</div>
		}
	} @else {
		<div class="no-results-container">
			<p class="no-results-message">{{ 'ui.noResultsFound' | translate }}</p>
		</div>
	}
}
