.enum-select-field {
	margin-bottom: 1.5rem;

	mat-form-field {
		width: 100%;
	}

	.required-asterisk {
		color: #d32f2f;
		margin-left: 0.25rem;
	}

	.recommended-indicator {
		color: #0066cc;
		font-size: 0.85em;
		font-weight: 500;
		margin-left: 4px;
		opacity: 0.8;
	}
}
