.bleeding-landing-header {
	position: relative;
	background-color: #F0F4F7;
	margin-bottom: 100px;

	&::before {
		content: '';
		position: absolute;
		top: -36px;
		left: 50%;
		transform: translateX(-50%);
		width: 100vw;
		height: calc(100% + 72px);
		background-color: #F0F4F7;
		z-index: -1;
	}
}
.landing-header-container {
	width: 100%;
	margin: 0 auto;
}
.container {
	max-width: 1460px;
	margin: 0 auto;
}
