.bleeding-landing-header {
	width: 100vw;
	margin-left: calc(-50vw + 50%);
	margin-top: -16px;
	background-color: #F0F4F7;
	padding-top: 48px;
	padding-bottom: 32px;
}
.landing-header-container {
	width: 100%;
	margin: 0 auto;
	padding: 0 16px;
}
.container {
	max-width: 1460px;
	margin: 0 auto;
}
