<h1>Filter</h1>

<div>
	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>Herausgeber</mat-panel-title>
		</mat-expansion-panel-header>
		<mat-form-field>
			<mat-label>Your name</mat-label>
			<input matInput placeholder="Your name" />
		</mat-form-field>
		<p>Challenge accepted! - Use your superpowers to make a difference.</p>
	</mat-expansion-panel>
	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>Tags</mat-panel-title>
		</mat-expansion-panel-header>
		<mat-form-field>
			<mat-label>Your name</mat-label>
			<input matInput placeholder="Your name" />
		</mat-form-field>
		<p>Challenge accepted! - Use your superpowers to make a difference.</p>
	</mat-expansion-panel>
</div>
