<table class="ob-table ob-table-plain">
	<thead>
	<tr>
		<th scope="col">Title</th>
		<th scope="col">Description</th>
	</tr>
	</thead>
	<tbody>
	@for (dataset of datasets$ | async; track $index) {
		<tr
			(click)="openDataset(dataset['dct:publisher'], dataset['dct:identifier'])"
			style='cursor: pointer'
		>
			<td data-title="Title">{{ dataset["dct:title"]?.['en'] }}</td>
			<td data-title="Description">{{ dataset["dct:description"]?.['en'] | slice:0:100 }}</td>
		</tr>
	}
	</tbody>
</table>
