<table class="ob-table ob-table-plain">
	<thead>
		<tr>
			<th scope="col">{{ "ui.title" | translate }}</th>
			<th scope="col" class="no-wrap">{{ "ui.issued" | translate }}</th>
			<th scope="col" class="no-wrap">{{ "ui.stewardOwnerContact" | translate }}</th>
			<th scope="col">{{ "ui.keywords" | translate }}</th>
		</tr>
	</thead>
	<tbody>
		@for (dataset of datasets$ | async; track $index) {
			<tr (click)="openDataset(dataset['dct:publisher'], dataset['dct:identifier'], dataset['productType'])" style="cursor: pointer">
				<td data-title="Title">{{ ["dct:title", dataset["dct:title"]] | translateField }}</td>
				<td data-title="Issued" class="no-wrap">{{ $any(dataset)["dct:issued"] | date: "shortDate" : "UTC" : translate.currentLang }}</td>
				<td data-title="Steward" class="no-wrap">
					<div class="ob-flex ob-flex-wrap ob-gap-2">
						@for (steward of getStewards(dataset); track $index) {
							<!--							<mat-chip class="small-chip" style="display: inline-block; margin-right: 8px;">-->
							{{ steward }}
							<!--							</mat-chip>-->
						}
					</div>
				</td>
				<td data-title="Keywords">
					<div>
						@for (tag of getLocalizedKeywords(dataset); track $index) {
							<mat-chip (click)="onChipClick($event)" class="small-chip">
								<a [routerLink]="['/index']" [queryParams]="keywordFiltered(tag, dataset)">
									{{ tag }}
								</a>
							</mat-chip>
						}
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>
