<table class="ob-table ob-table-plain">
	<thead>
	<tr>
		<th scope="col" class="no-wrap">{{ 'ui.title' | translate }}</th>
		<th scope="col" class="no-wrap">{{ 'ui.issued' | translate }}</th>
		<th scope="col" class="no-wrap">{{ 'ui.stewardOwnerContact' | translate }}</th>
		<th scope="col" class="no-wrap">{{ 'ui.keywords' | translate }}</th>
	</tr>
	</thead>
	<tbody>
		@for (dataset of datasets$ | async; track $index) {
			<tr
				(click)="openDataset(dataset['dct:publisher'], dataset['dct:identifier'])"
				style='cursor: pointer'
			>
				<td data-title="Title">{{ ["dct:title", dataset["dct:title"]] | translateField }}</td>
				<td data-title="Issued" class="no-wrap">{{ dataset["dct:issued"] | date:'shortDate':translate.currentLang }}</td>
				<td data-title="Steward" class="no-wrap">
					<div class="chip-container">
						@for (steward of getStewards(dataset); track $index) {
<!--							<mat-chip class="small-chip" style="display: inline-block; margin-right: 8px;">-->
								{{ steward }}
<!--							</mat-chip>-->
						}
					</div>
				</td>
				<td data-title="Keywords">
					<div class="chip-container">
						@for (tag of dataset["dcat:keyword"]; track $index) {
							<mat-chip (click)="onChipClick($event)" class="small-chip" style="display: inline-block; margin-right: 8px;">
								<a [routerLink]="['/index']" [queryParams]="keywordFiltered(tag)">
									{{ tag }}
								</a>
							</mat-chip>
						}
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>
